.footer {
  padding: 40px 0;
  background-color: #18181b;
  margin-top: 80px;

  @media (max-width: $forTablet) {
    margin-top: 70px;
  }

  @media (max-width: $forPhone) {
    margin-top: 60px;
  }

  &__content {}

  &__top {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: $forPhone) {
      flex-direction: column;
    }
  }

  &__left {
    a:hover {
      opacity: 0.6;
    }
  }

  &__center {
    color: #fff;

    @media (max-width: $forTablet) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    a {
      display: block;
      padding: 15px 30px;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
      }
    }
  }

  &__right {

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    img {
      width: 32px;
    }

    a:hover {
      opacity: 0.6;
    }
  }

  &__bottom {
    padding-top: 40px;
    border-top: 1px solid #cbd5e1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: $forPhone) {
      flex-direction: column;
    }

    span {
      font-size: 16px;
      color: #cbd5e1;
    }

    a {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
      text-decoration-skip-ink: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}